#post-box {
    width: 90vw;
    padding: 1.2rem;
    border-radius: 0.8rem;
    box-shadow: 1px 1px 1px 1px;
    cursor: pointer;
    transition: transform 0.2s;
}

#post-box a {
    text-decoration: none;
    color: #000000e1;
}

#post-box:hover {
    transform: translateY(-0.5rem);
}

#post-box header img {
    max-width: 4rem;
}

#post-box header,
#post-box footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
